#docxtpl==0.17.0
Flask==3.0.3
Flask-RESTful==0.3.10
flask-cors
langchain
langchain_community
langchain_core
langchain_openai
langchain-text-splitters==0.2.2
langsmith
langgraph
openai
llama_index
llama-index-core
llama_parse
tavily-python
pymupdf4llm
python-docx>=0.8.11
reportlab>=3.6.0
pinecone-client[grpc]==5.0.0
llama-index-vector-stores-pinecone